.projects {
    max-width: 75rem;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    background-color: #1e1e1e;
    color: white;
  }
  
  .projects h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }
  
  .projects p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
  }
  
  .categories {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
  }
  
  .categories button {
    background: #f5f5f5;
    border: none;
    padding: 0.5rem 1rem;
    margin: 0 0.5rem;
    cursor: pointer;
  }
  
  .categories button:hover {
    background: #ddd;
  }
  
  .projects-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
  }
  
  .project-card {
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 270px; /* Fixed width */
    height: 280px;
    text-align: center;
    transition: transform 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
  }
  
  .project-card img {
    width: 100%;
    height: 200px; /* Fixed height for images */
    object-fit: cover;
  }
  
  .project-card p {
    padding: 1rem;
    font-size: 1rem;
    background: #333; /* Dark background for text */
    color: white; /* White text color */
    margin: 0;
  }
  
  .project-card:hover {
    transform: translateY(-10px);
    background-color: rgba(255, 255, 255, 0.8); /* Slightly transparent white */
    opacity: 0.9; /* Transparency effect */
  }
  
  .project-card:hover p {
    background: rgba(51, 51, 51, 0.8); /* Slightly transparent dark background for text */
  }
  .project-card a {
  display: block; /* Ensure the link takes up the entire card */
  width: 100%;
  height: 100%;
}
  